export("RandIndex")
export("kcdf")
export("generalized.overlap")
export("KNOBSynC")
export("kmeans.all")
export("overlap.map")
export("overlapKDE")
export("norm.res")
export("kmH")

import(abind)
import(foreach)
import(parallel)
import(doParallel)
import(parallelly)

importFrom("graphics", "axis", "frame", "image", "layout", "lines",
             "par", "plot.new", "plot.window", "rect", "text")
importFrom("stats", "aggregate", "cutree", "dist", "hclust", "kmeans",
             "median")
importFrom("grDevices", "dev.copy2pdf", "dev.off")
importFrom("stats", "as.dist", "heatmap", "pchisq", "pnorm", "sd")

useDynLib(SynClustR, .registration = TRUE, .fixes= "C_")

